/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ===============================
    EIGEN STYLING
================================= */

@font-face {
    font-family: "Nexa Bold";
    src: url("fonts/Nexa Bold.otf");
}

@font-face {
    font-family: "Nexa Light";
    src: url("fonts/Nexa Light.otf")
}

body {
    /*bron: https://pixabay.com/nl/blond-meisje-gras-buitenshuis-1866951/ */
    background-image: url(images/blond-1866951_1280.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

@media (max-width: 30em) {
    body {
        background-image: url(images/blond-1866951_640.jpg);
        background-repeat: no-repeat;
        background-position: top;
    }
}


/* ========================
    HEADER
===========================*/

header {
    padding: 1em 0 1em 1em;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 3em;
}

img[src="images/logotransavia.svg"] {
    float: left;
    width: 3em;
    margin-right: 0.3em;
}

img[src="images/logotransavia.svg"]:hover {
    transform: scale(1.1, 1.1);
}

h1 {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1.78em;
    color: #00d66c;
    margin-top: 0.45em;
    float: left;
}

@media (max-width: 42em) {
    h1 {
        display: none;
    }
}

a[href="mijnlijst.html"] {
    background: #00d66c;
    border: #00d66c solid 0.16em;
    margin-right: 1.5em;
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 0.9em;
    padding-right: 1.5em;
    text-decoration: none;
    color: white;
    border-radius: 0.5em;
    float: right;
    padding-top: 0.4em;
}

@media (max-width: 30em) {
    a[href="mijnlijst.html"] {
        background: #00d66c;
        border: #00d66c solid 0.16em;
        margin-right: 1.5em;
        font-family: "Nexa Bold", Arial, sans-serif;
        font-size: 0.8em;
        padding-right: 1.5em;
        text-decoration: none;
        color: white;
        border-radius: 0.5em;
        float: right;
        padding-top: 0.5em;
    }
}

a[href="mijnlijst.html"]:hover {
    background: rgba(0, 214, 108, 0.85);
    transform: scale(1.02, 1.02);
}

header nav a:last-of-type img {
    width: 1em;
    margin-right: 0.2rem;
    opacity: 0;
}

@keyframes lijst {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(2);
    }
    40% {
        transform: scale(1)
    }
    60% {
        transform: scale(1.5)
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

header nav a:last-of-type img.visible {
    opacity: 1;
    animation: lijst 2s;
}

a[href="inloggen.html"] {
    background: none;
    border: none;
    width: 3em;
    float: left;
}

img[src="images/accounticon.png"] {
    width: 2em;
}

header img[src="images/accounticon.png"]:hover {
    transform: scale(1.1, 1.1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#zoekbalk {
    width: 10em;
    border-radius: 0.5em;
    font-family: "Nexa Light", Arial, sans-serif;
    padding: 0.3em;
    font-size: 0.75em;
    margin-right: 1em;
    margin-left: 1em;
}

@media (max-width: 30em) {
    #zoekbalk {
        opacity: 0;
        transition: 0.5s ease-out;
        width: 7.5em;
    }
    #zoekbalk.visible {
        width: 7.5em;
        border-radius: 0.5em;
        font-family: "Nexa Light", Arial, sans-serif;
        padding: 0.3em;
        font-size: 0.75em;
        margin-right: 1em;
        margin-left: 1em;
        opacity: 1;
        transition: 0.5s ease-out;
    }
    img[src="images/vergrootglas.png"]:hover {
        transform: scale(1.1, 1.1);
    }
}

img[src="images/vergrootglas.png"] {
    width: 2em;
    height: 2em;
    margin-right: 0.8em;
}


/* =======================
    FILTERS
========================== */

label {
    background: #2c2f86;
    padding: 0.5em;
    color: white;
    font-family: "Nexa Bold", Arial, sans-serif;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 5em;
}

aside form label {
    display: grid;
    grid-template-columns: 4em auto 4em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: auto;
    grid-row-start: 1;
    grid-row-end: 16;
    margin-bottom: 1em;
    width: 7em;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 1em;
}

@keyframes wiggle {
    10%,
    90% {
        transform: rotate(10deg);
    }
    20%,
    80% {
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }
    40%,
    60% {
        transform: rotate(-10deg);
    }
}

aside form label.shake {
    animation: wiggle 1s;
}

aside label:hover {
    background: rgba(44, 47, 134, 0.85);
    color: #e22c5d;
}

aside label:first-of-type {
    margin-top: 0.2em;
}

aside label input {
    margin-left: 3em;
}

h3 {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1em;
    margin-left: 24%;
    color: #e22c5d;
}

aside form {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}

@media(max-width: 50em) {
    aside form {
        margin-left: 10%;
        margin-right: 10%;
    }
    h3 {
        margin-left: 10%;
    }
}

@media(max-width: 45em) {
    aside form {
        margin-left: 0;
        margin-right: 0;
    }
}

aside>button {
    background: #e22c5d;
    border: solid #e22c5d 0.15em;
    border-radius: 0.5em;
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.25em;
    max-width: 30em;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

@media (max-width: 40em) {
    aside>button {
        min-width: 20rem;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
}


/* =====================
    SORTEREN
========================

#sorteren {
    font-family: "Nexa Bold", Arial, sans-serif;
    background: #00d66c;
    width: 7em;
    height: 2em;
    font-size: 1em;
    color: white;
    display: grid;
    grid-template-columns: 4em auto 4em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 1em;
    width: 8em;
    margin-top: 0.5em;
    margin-left: 12em;
    margin-right: 1em;
    border: #00d66c;
}

#sorteren:hover {
    background: rgba(34, 212, 112, 0.8);
    color: color: #e22c5d;
} */


/* ======================
    HOME
========================= */

body {
    margin-top: 10em;
}

h2 {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1.5em;
    margin-left: 2em;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
}

h4 {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1em;
    margin-left: 22em;
    margin-top: 2em;
    margin-bottom: 1em;
    color: white;
}

p {
    font-family: "Nexa Light", Arial, sans-serif;
    font-size: 1em;
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

li {
    list-style: none;
    display: inline;
}

main article>img:first-of-type {
    width: 3em;
}

main article>img:first-of-type.dancing {
    width: 3em;
    margin-right: 0.5em;
    position: absolute;
    transform: rotate(360deg);
    transition: transform 1.5s, opacity 0s ease-out 2s;
    opacity: 0;
}

main article>img:nth-of-type(2) {
    width: 3em;
    margin-right: 0.5em;
    position: absolute;
    opacity: 0;
}

main article>img:nth-of-type(2).display {
    opacity: 1;
    transition: opacity 0s ease-out 2s;
}

main article>img:nth-of-type(2).move {
    width: 3em;
    margin-right: 0.5em;
    position: absolute;
    transform: rotate(360deg);
    transition: transform 1.5s, opacity 0s ease-out 2s;
    opacity: 0;
}

main article>img:first-of-type.see {
    opacity: 1;
    transition: opacity 0s ease-out 2s;
}

article:nth-of-type(1) {
    background-image: url(images/ver.tablet-8.png);
    color: white;
}

img[src="images/boers.png"] {
    width: 10em;
    margin-left: 3em;
}

a[href="boers.html"] {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1em;
    border: solid #e22c5d 0.16em;
    padding: 0.25em;
    text-decoration: none;
    color: white;
    background: #e22c5d;
    border-radius: 0.5em;
}

a[href="boers.html"]:active {
    transform: scale(.9, .9);
}

a[href="boers.html"]:hover {
    background: rgba(218, 48, 92, 0.7);
    border: rgba(218, 48, 92, 0.1) solid;
}

a[href="boers.html"]:focus {
    color: beige;
    background: #00d66c;
    border: #00d66c;
}

article:nth-of-type(2) {
    background-image: url(images/backgrounddrip-8.png);
    background-position: right;
}

img[src="images/vrijdag.png"] {
    width: 13em;
    margin-left: 3rem;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

a[href="vrijdagde13e.html"] {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1em;
    border: solid #e22c5d 0.16em;
    padding: 0.25em;
    text-decoration: none;
    color: white;
    background: #e22c5d;
    border-radius: 0.5em;
}

a[href="vrijdagde13e.html"]:active {
    transform: scale(.9, .9);
}

a[href="vrijdagde13e.html"]:hover {
    background: rgba(218, 48, 92, 0.7);
    border: rgba(218, 48, 92, 0.1) solid;
}

a[href="vrijdagde13e.html"]:focus {
    color: beige;
    background: #00d66c;
    border: #00d66c;
}

article:nth-of-type(3) {
    background-image: url(images/backgroundchrl-8.png);
    background-position: top;
    background-repeat: no-repeat;
}

img[src="images/charliesheentitel.png"] {
    width: 14em;
    margin-left: 3em;
}

a[href="charliesheen.html"] {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1em;
    border: solid #e22c5d 0.16em;
    padding: 0.25em;
    text-decoration: none;
    color: white;
    background: #e22c5d;
    border-radius: 0.5em;
}

a[href="charliesheen.html"]:active {
    transform: scale(.9, .9);
}

a[href="charliesheen.html"]:hover {
    background: rgba(218, 48, 92, 0.7);
    border: rgba(218, 48, 92, 0.1) solid;
}

a[href="charliesheen.html"]:focus {
    color: beige;
    background: #00d66c;
    border: #00d66c;
}

[href="boers.html"] {
    float: right;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

[href="vrijdagde13e.html"] {
    float: right;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

[href="charliesheen.html"] {
    float: right;
    margin-right: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}


/* ====================
    VERHALEN
======================= */

article {
    margin: 5% 7%;
    padding-top: 1em;
    padding-bottom: 4em;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.9);
    line-height: 1.3em;
    max-width: 30em;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

body main article.turn {
    transform: rotate(720deg);
    transition: transform 2s;
}

@media (max-width: 40em) {
    article {
        min-width: 20em;
        max-width: 30em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 30em) {
    article {
        min-width: 20em;
        max-width: 30em;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

img[src="Vormgeving/Medelijden/idee3latop1-100.jpg"] {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    display: flex
}

footer {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 0.8em;
    margin-left: 2em;
}

[name="comments"] {
    width: 20em;
    height: 10em;
    padding: 0.5em;
    margin-left: 23em;
    border: solid slategray 0.05em;
    border-radius: 0.5em;
    font-family: "Nexa Light", Arial, sans-serif;
    font-size: 0.94em;
}

input[type="submit"] {
    border: solid 0.2em #e22c5d;
    background: #e22c5d;
    border-radius: 0.5em;
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1em;
    color: white;
    display: block;
    margin: 1em 1em 1em 22em;
}


/* ===================
    REGISTREREN
====================== */

form fieldset legend {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 2em;
    color: #00d66c;
    border-radius: 0.5em;
    padding: 0.2em;
    text-align: center;
    margin-bottom: 1em;
}

main form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 0.5em;
    padding: 1em;
    background: rgba(255, 255, 255, 0.9);
    width: 30em;
}

@media (max-width: 40em) {
    main form {
        margin-left: 2em;
        margin-right: 2em;
        width: 70%;
    }
}

input:invalid {
    background: rgba(255, 0, 0, 0.1);
}

input:focus {
    border: #00d66c;
}

input:hover {
    transform: scale(1.05, 1.05);
}

form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

form fieldset label {
    background: none;
    margin-bottom: 0.5em;
    color: black;
    text-align: center;
}

main form fieldset input {
    margin: auto;
    border-radius: 0.5em;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

main form fieldset input:hover {
    transform: scale(1.05, 1.05);
}

main form fieldset label button {
    font-family: "Nexa Bold", Arial, sans-serif;
    font-size: 1.5em;
    border: #e22c5d solid;
    border-radius: 0.5em;
    padding: 0.25em;
    background: #e22c5d;
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
}

form fieldset a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "Nexa Bold", Arail, sans-serif;
    margin-top: 2em;
}

button:active {
    transform: scale(.9, .9);
    color: white;
}

button:hover {
    background: rgba(218, 48, 92, 0.85);
    border: rgba(218, 48, 92, 0.85) solid;
    color: white;
}

button:focus {
    background: #00d66c;
    border: #00d66c solid;
}

input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

input[type="submit"]:active {
    transform: scale(.9, .9);
}

input[type="submit"]:hover {
    background: rgba(218, 48, 92, 0.85);
    border: rgba(218, 48, 92, 0.85) solid;
}

input[type="submit"]:focus {
    color: beige;
    background: #00d66c;
    border: #00d66c;
}


/* ================
    INLOGGEN
=================== */

form fieldset img[src="images/accounticon.png"] {
    width: 10em;
    margin-right: auto;
    margin-left: auto;
}

a[href="registreren.html"] {
    border: none;
    background: none;
    color: slategray;
    text-decoration: underline;
    text-align: center;
    font-size: 1em;
}

a[href="registreren.html"]:hover {
    transform: scale(1.1, 1.1);
}
